@charset "UTF-8";


//リセット

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

//フォントの呼び出し

$font-bold: "GenjyuugothicBold";
$font-medium: "GenjyuugothicMedium";
$font-regular:"GenjyuugothicRegular";
$color-blue: #5BC2C3;
$color-black: #4F5E60;
$font-size-48:48px;
$font-size-24:24px;
$font-size-18:18px;
$font-size-16:16px;

body {
    font-family: $font-regular, $font-bold, $font-medium;
}

//ヘッダー関連

h1 {
    font-size: $font-size-48;
    font-weight: 350;
    text-align: center;
}

h2 {
    font-size: $font-size-24;
    font-weight: 400;
    text-align: center;
    line-height: 250%;
}


//色

.color_blue {
    color: $color-blue;
}

.color_black {
    color: $color-black;
}


//width

.width_100 {
    width: 100%;
}

.width_80 {
    width: 80%;
}


//マージン

.margin_0_auto {
    margin: 0 auto;
}

.margin_160_0 {
    margin: 160px 0;
}

.margin_160_16 {
    margin: 160px 0 16px;
}

.margin_192_0 {
    margin: 192px 0;
}

.margin_80_0 {
    margin: 80px 0;
}

.margin_96_0 {
    margin: 96px 0;
}

.margin_16_160 {
    margin: 16px 0 160px;
}

//textalign
.text_align {
    text-align: center;
}

//英語ヘッダーの場合の指定

.en {
    font-family: "all-round-gothic" !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2em;
}

p {
    width: 100%;
    font-size: $font-size-16;
    color: $color-black;
    line-height: 250%;
}

//container

.container {
    width: 70%;
    margin: 0 auto;
}

//block化

.display_block {
    display: block;
}


//flex関連

.flex_box {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_end {
    align-items: flex-end;
}

.flex_reverse {
    flex-flow: row-reverse;
}

.flex_direction_column {
    flex-direction: column;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_spacearound {
    justify-content: space-around;
}

.align_items_flexstart {
    align-items: flex-start;
}

.align_items_center {
    align-items: center;
}


//トップロゴ
.top_logo {

    img {
        width: 300px;
        margin-left: 104px;
        margin-top: 88px;
    }
}


//トップナビゲーション
.top_nav {

    ul {
        width: 83%;

        li {
            a {
                color: $color-blue;
                font-size: 16px;
                transition: 0.5s;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

//contentbox

.content_box1 {

    p {
        width: 50%;
        font-size: $font-size-18;
    }

    img {
        width: 40%;
        height: 40%;
        border-radius: 40px;
        object-fit: cover;
        box-shadow: 4px 4px 200px rgba($color: #000000, $alpha: 0.05);
    }

    &:nth-child(2n) {
        flex-flow: row-reverse;
    }
}

.content_box2 {

    .content {
        width: 25%;

        img {
            width: 60%;
        }

        p {
            text-align: center;
            color: $color-blue;
            font-size: $font-size-16;
            margin: 24px auto;
        }
    }
}

table {
    margin: 0 auto;
    width: 90%;
    color: $color-black;
    border-collapse: collapse;

    th,td {
        border-top:solid 1px #C4C4C4;
        border-bottom:solid 1px #C4C4C4;
        padding: 16px 40px;
    }

    th {
        background-color: #F6FDFD;
        text-align: left;
        width: 160px;
    }

    tr {
        line-height: 3.5em;
    }
}

footer {
    margin: 80px 0;
}

.footer_logo {
    display: flex;
    align-items: center;
    margin-right: 120px;
    flex-direction: column;

    img {
        width: 250px;
    }

    p {
        font-size: 12px;
        font-weight: 200;
        margin-top: 24px;
    }
}

.fotter_column {
    width: 160px;

    ul {
        li {
            color: $color-blue;
            font-size: 14px;
            font-weight: 400;
            padding: 8px;

            a {
                color: $color-black;
                font-size: 12px;
            }
        }
    }
}

.button_blue {
    display: inline-block;
    background-color: $color-blue;
    border-radius: 80px;
    margin: 48px;
    padding: 24px 48px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 24px 72px 0 rgba(91,194,195,0.2);
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: 0 24px 72px 0 rgba(91,194,195,0.4);
        transition: box-shadow 0.2s;
    }
}

.text1,.text2 {
    margin: 32px 0;
}

.text1 {
    font-size: 48px;
    color: $color-blue;
    line-height: 180%;
}

.text2 {
    font-size: 24px;
    color: $color-black;
    line-height: 250%;
}

.text3 {
    font-size: 12px;
    color: $color-black;
    line-height: 200%;
}

.content_box3 {
    margin: 124px 0;
    width: 100%;
    display: flex;

    .content_text3 {
        width: 40%;
        margin-top: 344px;

        span {
            color: $color-blue;
            font-size: 20px;
        }

        img {
            width: 320px;
        }
    }

    .content_img3 {
        width: 60%;

        img {
            margin: 0 auto;
            right: 0;
            border-radius: 270px;
            box-shadow: 0 8px 24px 0 rgba(0,0,0,0.1);
        }
    }
}

/*
.content_box3:nth-child(2n+1) {
    flex-flow: row-reverse;
}
*/

.button_blue_linear {
    color: $color-blue;
    padding: 16px 32px;
    border: 2px solid;
    border-color: $color-blue;
    border-radius: 12px;
}

.content_box4 {
    width: 100%;
    text-align: center;

    img {
        display: block;
        width: 584px;
        margin: 0 auto;
    }

    .text1,.text2,.text3 {
        width: 100%;
        margin: 32px auto;
        text-align: center;
    }
}